.container {
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #7DDFF8 0%, #B1ADE2 100%);
}

.card-component {
  display: flex;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 40rem;
  height: 42rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.ant-input-affix-wrapper {
  height: 2.5rem !important;
  width: 20rem !important;
}

.welcome-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.login-register-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.login-form-button {
  width: 8rem !important;
  border-radius: 5px;
}

.login-form-secondary-button {
  margin-left: 10px;
  width: 9rem !important;
  border-radius: 5px;
}

.secondary-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.user-text {
  margin-top: 8px;
}
